html, body {
  height: 100%; margin: 0; padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  height: 100%;
  width: 100%;
  /*
  background-color: #E0E0E0;

  background-image: url("../media/images/IMG_2135.JPG");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;*/

  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: table;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  height: 100%;
}

.content {
  display: table-row;
  height: 100%;
}

.content-body {
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.featured-project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.header {
  padding: 40px 20px;
  text-align: center;
  color: white;
  background-image: url("/media/images/IMG_1397.jpg");
  background-position: 50% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer {
  padding: 0px 20px;
  text-align: center;
  color: black;
}

#title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 4px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

#subtitle {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

#content-title {
  font-size: 24px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #696969;
}

a.headerLinkNoHover{
  color: white;
}

a.headerLinkNoHover:hover {
  color: white;
}

a.headerLink{
  color: white;
}

a.headerLink:hover {
  color: #e0e0e0;
}

ul {
  padding: 0px;
}

ul li.navItem {
  display: inline-block;
  padding-left:9px;
  padding-right:9px;
  font-size: 18px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

ul li.projItem {
  display: inline-block;
  padding-left:9px;
  padding-right:9px;
  padding-bottom:18px;
  font-size: 16px;
}
